{
displayStrings = (
"Hambugerfontsiv 
noHOag
LaLa
HULTEIF
OCGSQ
BDPRJ
HAVWNKXYZM
nmhurli
ocebpqd
ftajags
vwxykz
1234r567890O.,-

",
"ABCODEFGHIJKLMN
OPQRSTUVWXYZ
abcdefghijklmn
opqrstuvwxyz
D
H/D.001 D/G.001 G/U.001/U.001 UC/S.001/V.001 V
b  HUUU
1234567890
pulupulu
69",
"ABCDEFGHIJKLMN
OPQRSTUVWXYZ
abcdefghijklmno
pqrstuvwxyz

\"trust the proscess\"

S  /zero.001  ᬳ ma
S  /zero.001   ᬦ ma
S  /zero.001   ᬘ ma
S  /zero.001   ᬭ ma
S  /zero.001   ᬓ ma
S  /zero.001   ᬤ  ma
S  /zero.001   ᬢ  ma
S  /zero.001   ᬮ  ma
S  /zero.001   ᬧ  ma
S  /zero.001   ᬕ  ma
S  /zero.001   ᬗ  ma


ᬳᬦᬭᬓᬤᬢᬮᬧᬕ ma
",
"ᬘ",
"ᬡ",
"ᬫ",
"ᬧ",
"ᬔ",
"ᬲ",
"ᬕ",
"ᬗ"
);
}
