{
displayStrings = (
"Hambugerfontsiv 
noHOag
LaLa
HULTEIF
OCGSQ
BDPRJ
HAVWNKXYZM
nmhurli
ocebpqd
ftajags
vwxykz
1234r567890O.,-

",
"ABCODEFGHIJKLMN
OPQRSTUVWXYZ
abcdefghijklmn
opqrstuvwxyz
D
H/D.001 D/G.001 G/U.001/U.001 UC/S.001/V.001 V
b  HUUU
1234567890
pulupulu
69",
"ABCDEFGHIJKLM
NOPQRSTUVWXYZ
abcdefghijklm
nopqrstuvwxyz
0123456789 .,:;…!¡?¿·•*#///backslash -–—_(){}[]‚„“”‘’«»‹›\"'฿@&¶©®°|¦†‡¢¤$€₩¥+−×÷=≠><≥≤±≈~¬^∞∫∏∑√∂%‰",
"ABCDEFGHIJKLMN
OPQRSTUVWXYZ",
"HHHOHHOOHOHOOOHHHHOHHHHOOOOH
HHHHHHHHHH


HAHBHCHDHEHFHGHHHIHJHKHLHMHNHHOHPHQHRHSHTHUHVHWHXH
HYHZHHhhh


nnnnnnnnnnnnnoonnnnnnnnonnnnnnnnnnnnnnnnnn

nanbncndnenfngnhninjnknlnmnnnonpnqnrnsntnunvnwnxnynzn
",
H,
H,
".,:;…!¡?¿·•*#///backslash -–—_(){}[]‚„“”‘’«»‹›\"'฿@&¶©®°|¦†‡¢¤$€₩¥+−×÷=≠><≥≤±≈~¬^∞∫∏∑√∂%‰
sh",
"᭤ ᭥ ᭪  ᭧   ᭦  ᭣ ᭢  ᭨  ᭩   ᭡ ᭴ ᭵ ᭶ ᭷ ᭸ ᭹ ᭺ ᭻ ᭼ ",
"/zero.001     /zero.001   ᭑  ᭒  ᭓  ᭔  ᭕  ᭖  ᭗  ᭘  ᭙ 

0123456789",
"᭐᭑᭒᭓᭔᭕᭖᭗᭘᭙0123456789",
"ABCDEFGHIJKLMN
OPQRSTUVWXYZ
abcdefghijklmno
pqrstuvwxyz

S  /zero.001  ᬳ ma
S  /zero.001   ᬦ ma
S  /zero.001   ᬘ ma",
"ᬦ",
"ᬘ"
);
}
