{
.appVersion = "3343";
.formatVersion = 3;
date = "2026-09-14 06:34:53 +0000";
familyName = "New Font";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem bali dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "lookup ccmp_bali_1 {
	lookupflag 0;
	sub rerekan-bali pepet-bali cecek-bali by rerekan_pepet_cecek-bali;
	sub rerekan-bali pepet-bali surang-bali by rerekan_pepet_surang-bali;
	sub rerekan-bali uluSari-bali cecek-bali by rerekan_uluSari_cecek-bali;
	sub rerekan-bali uluSari-bali surang-bali by rerekan_uluSari_surang-bali;
	sub rerekan-bali ulu-bali cecek-bali by rerekan_ulu_cecek-bali;
	sub rerekan-bali ulu-bali surang-bali by rerekan_ulu_surang-bali;
	sub pepet-bali cecek-bali by pepet_cecek-bali;
	sub pepet-bali surang-bali by pepet_surang-bali;
	sub rerekan-bali cecek-bali by rerekan_cecek-bali;
	sub rerekan-bali surang-bali by rerekan_surang-bali;
	sub uluSari-bali cecek-bali by uluSari_cecek-bali;
	sub uluSari-bali surang-bali by uluSari_surang-bali;
	sub uluSari-bali uluCandra-bali by uluSari_uluCandra-bali;
	sub uluSari-bali uluRicem-bali by uluSari_uluRicem-bali;
	sub ulu-bali cecek-bali by ulu_cecek-bali;
	sub ulu-bali surang-bali by ulu_surang-bali;
	sub ulu-bali uluCandra-bali by ulu_uluCandra-bali;
	sub ulu-bali uluRicem-bali by ulu_uluRicem-bali;
} ccmp_bali_1;

script bali;
lookup ccmp_bali_1;
";
tag = ccmp;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub f f by f_f;
";
tag = liga;
}
);
fontMaster = (
{
guides = (
{
angle = 270;
pos = (203,584);
},
{
angle = 90;
pos = (218,588);
},
{
angle = 90;
pos = (591,554);
}
);
id = m01;
metricValues = (
{
over = 16;
pos = 800;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 500;
},
{
over = -16;
},
{
over = -16;
pos = -200;
},
{
}
);
name = Regular;
userData = {
GSCornerRadius = 30;
GSOffsetHorizontal = 16;
GSOffsetMakeStroke = 1;
GSOffsetVertical = 16;
};
visible = 1;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
unitsPerEm = 1000;
versionMajor = 1;
versionMinor = 0;
}
