{
displayStrings = (
"Hambugerfontsiv 
noHOag
LaLa
HULTEIF
OCGSQ
BDPRJ
HAVWNKXYZM
nmhurli
ocebpqd
ftajags
vwxykz
1234r567890O.,-

",
"ABCODEFGHIJKLMN
OPQRSTUVWXYZ
abcdefghijklmn
opqrstuvwxyz
D
H/D.001 D/G.001 G/U.001/U.001 UC/S.001/V.001 V
b  HUUU
1234567890
pulupulu
69",
"BCDEFGHIJKLMN
OPQRSTUVWXYZ
abcdefghijklm
nopqrstuvwxyz

sm /zero.001  ᬳ  mu
sm /zero.001  ᬦ  mu
sm /zero.001  ᬭ  mu
sm /zero.001  ᬓ  mu
sm /zero.001  ᬤ  mu
sm /zero.001  ᬢ  mu
sm /zero.001  ᬮ  mu
sm /zero.001  ᬕ  mu
sm /zero.001  ᬧ  mu
sm  /zero.001  ᬯ mu
sm  /zero.001  ᬫ  mu
sm  /zero.001  ᬗ  mu
sm  /zero.001  ᬬ  mu
sm  /zero.001   ᬡ  mu
sm  /zero.001  ᬘ  mu

ᬳᬦᬭᬓᬤᬢᬮᬧᬯᬗᬡ",
"ᬯ",
"ᬫ",
"ᬗ",
"ᬬ",
"+−",
"ᬡ",
"ᬘ"
);
}
